html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	font-family: 'Open Sans', sans-serif;
}

#container{
	width:980px;
	margin:auto;
	margin-top:0px
	margin-bottom:0px;
	border:solid black 1px;
}

.header{
	background-image:url("https://github.com/ga-students/fewd-denver-2/blob/master/Week_02_Styling/Assignment/starter_code/images/header_bg.jpg?raw=true");
	background-repeat:no-repeat;
	height:700px;
	width:980px;
	color: rgb(255,255,255);
}

h1{
	font-color: white;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}

h2{
	font-color: white;
	font-size: 24px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}

button{
	width:130px;
	background-color: yellow;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	margin-left:425px;

}

h3{
	font-size:20px;
	font-weight:semibold;
	margin-left:50px;
}

#benefits{
	margin-left:0px;
	margin:0px;
	padding:0px;
	border:0;
	height:250px;
	background-color:#f0efef;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font: inherit;
	vertical-align: baseline;
}

#quote{
	background-image:url(https://github.com/ga-students/fewd-denver-2/blob/master/Week_02_Styling/Assignment/starter_code/images/testimonial_bg.jpg?raw=true);
	background-repeat:no-repeat;
	height: 300px;
	margin:auto;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:semibold;
}

#sign_up_now{
	background-color:#f9e42e;
	height:100px;
	font-size:12px;
	border-radius:5px;
}

.footer{
	background-color: blue;
	height: 397px;
	width:100%;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	text-align:center;
}

.copyright{
	background-color:#121212;
	text-align:center;
	color:yellow;
	height: 200px
}

#copyright{
	color:white;
}

.relaxr{
	font-size:24px;
	color: yellow;
}

p{
	margin:0px;
	text-align:center;
}

li{
	margin-left:50px;
}

